<div class="form-group">
    <label for="numero">Prefisso</label>
    <input readonly class="form-control" id="codice-paese" value="@CountryCode" />
</div>

<div class="form-group">
    <label for="numero">Numero</label>
    <input class="form-control" id="numero" @bind-value="@Number" />
</div>

<div class="btn-group mt-1">
    <button type="button" class="btn btn-primary" @onclick="HandleClick">Esporta</button>
</div>

@code {
    [Parameter]
    public string CountryCode { get; set; }

    [Parameter]
    public EventCallback<string> OnExportButtonClick { get; set; }

    private string Number;

    private async Task HandleClick(MouseEventArgs args)
    {
        await OnExportButtonClick.InvokeAsync($"{CountryCode} {Number}");
    }
}